.button{
    background-color: rgb(245, 220, 243);
    border-radius: 10px;
    border-color: rgb(245, 220, 243);
    font-family: 'Josefin Sans' 400;
    cursor: pointer;
    vertical-align: middle;
    margin: 10px;
    max-width: 150px;
    width: 25%;
}

.button:hover{
    transform: scale(0.98); 
}

.text{
}