.header {
	background-color: rgb(255, 213, 213);
	text-align: center; 
	font-size: 30px;
	color: white;
	font-family: Helvetica;
	margin: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	
}

.header > div{
	padding: 30px;
}