body {
	margin: 0;
}
.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0px;
}
.app {
	display: flex;
	flex-direction: column;
	padding: 0px;
	align-content: center;
}
.banner{
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 100%;
	height: 250px;
}
